<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507051981406-jtv7l20d5h2g3daonmbu0vn0133aqdip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507051981406-jtv7l20d5h2g3daonmbu0vn0133aqdip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>507051981406-ojpbo7bf351pkoqdns6ur37omkgstfab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDzSGDtRR11NmZxaoLd9ARcyYe8d-NOjfU</string>
	<key>GCM_SENDER_ID</key>
	<string>507051981406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waves</string>
	<key>PROJECT_ID</key>
	<string>waves-338418</string>
	<key>STORAGE_BUCKET</key>
	<string>waves-338418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507051981406:ios:4030dde43441e3d5a1d2cf</string>
</dict>
</plist>